<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project Java Technology</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login-style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/ea9f34d5b1.js" crossorigin="anonymous"></script>

</head>
<body class="login">
<header>
    <nav class="navbar">
        <span class="hamburger-btn material-symbols-rounded">menu</span>
        <a href="#" class="logo">
            <img src="/images/logos/company-icon.png" alt="logo">
            <h2>THT</h2>
        </a>
    </nav>
</header>
<div class="form-box login" style="position: absolute; width: 50%; left: 50%; top: 50%; transform: translate(-50%, -50%)">
    <div class="form-content">
        <h2>LOGIN</h2>
        <form id="loginForm">
            <div class="input-field">
                <input id="username" type="text" required>
                <label>Username</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" required>
                <label>Password</label>
            </div>
            <button type="button" onclick="submitForm()">Log In</button>
        </form>
    </div>
</div>

<script>
    if(localStorage.getItem("token") !== null){
        $.ajax({
           type: "POST",
            url: "/api/token/checkToken",
            headers: {
               "Authorization": `${localStorage.getItem('token')}`,
                "Content-Type":"application/json"
            },
            success: function (response) {
               if(response['success'] && response['data']['role'] === "headquarter"){
                     window.location.href = "/headquarter";
               }
            },
        });
    }
    function submitForm() {

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        const data = {
            username,
            password
        };

        $.ajax({
            type: "POST",
            url: "/headquarter/login",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                if(response['token'] !== null){
                    localStorage.setItem("userJson", JSON.stringify(response['data']));
                    localStorage.setItem("token", response['token']);
                    localStorage.setItem("role", "headquarter");
                    window.location.href = "/headquarter";
                }
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    }
</script>
<script src="/js/login.js"></script>
</body>
</html>