<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical" data-boxed-layout="boxed" data-card="shadow"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/images/logos/company-icon.png">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Error</title>
</head>

<body data-sidebartype="full" data-new-gr-c-s-check-loaded="14.1048.0" data-gr-ext-installed="">
<div class="preloader" style="display: none;">
    <img src="/images/logos/company-icon.png" alt="loader" class="lds-ripple img-fluid">
</div>
<div id="main-wrapper">
    <div class="position-relative overflow-hidden min-vh-100 w-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="/images/backgrounds/error.png" alt="" class="img-fluid" width="500">
                        <h1 class="fw-semibold mb-7 fs-9">Opps!!!</h1>
                        <h4 class="fw-semibold mb-7">The token has been expired. Contact your admin to get a new one</h4>
                        <a class="btn btn-primary" href="/login" role="button">Go Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dark-transparent sidebartoggler"></div>
</body><!--</style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integration></html>-->