<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Customer</title>
  <link rel="shortcut icon" type="image/png" href="/images/logos/company-icon.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/customer.js"></script>
  <script src="/js/index.js"></script>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="/dashboard" class="text-nowrap logo-img">
          <img src="/images/logos/company-icon.png" width="220" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap management-item">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">MANAGEMENT</span>
          </li>
          <li class="sidebar-item pos-item">
            <a class="sidebar-link" href="/pos" aria-expanded="false">
                <span>
                  <i class="ti ti-shopping-cart"></i>
                </span>
              <span class="hide-menu">Point Of Sale</span>
            </a>
          </li>
          <li class="sidebar-item product-item">
            <a class="sidebar-link" href="/products" aria-expanded="false">
                <span>
                  <i class="ti ti-package"></i>
                </span>
              <span class="hide-menu">Products</span>
            </a>
          </li>
          <li class="sidebar-item customer-item">
            <a class="sidebar-link" href="/customer" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
              <span class="hide-menu">Customer</span>
            </a>
          </li>
          <li class="sidebar-item invoice-item">
            <a class="sidebar-link" href="/invoice" aria-expanded="false">
                <span>
                  <i class="ti ti-file-invoice"></i>
                </span>
              <span class="hide-menu">Invoice</span>
            </a>
          </li>
          <li class="nav-small-cap admin-item">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">ADMIN</span>
          </li>
          <li class="sidebar-item employee-item">
            <a class="sidebar-link" href="/employee" aria-expanded="false">
                <span>
                  <i class="ti ti-lego"></i>
                </span>
              <span class="hide-menu">Employees</span>
            </a>
          </li>
        </ul>
        <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
          <div class="d-flex">
            <div class="unlimited-access-title me-5">
              <h6 class="fw-semibold fs-4 mb-6 text-dark w-85" id="hello-user-txt">Hi User</h6>
              <a href="javascript:void(0)" onclick="removeToken()" target="_blank" class="btn btn-primary fs-2 fw-semibold mt-2 lh-sm">Sign Out</a>
            </div>
            <div class="unlimited-access-img">
              <img src="/images/backgrounds/rocket.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <img id="personal-image" src="/images/profile/male-figure.jpg" alt="" width="35" height="35" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">
                  <a href="/profile" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3">My Profile</p>
                  </a>
                  <a href="javascript:void(0);" onclick="removeToken()" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="border-bottom title-part-padding">
            <h4 class="card-title fw-semibold mb-2">Customers</h4>
          </div>
          <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger text-danger text-center" ></div>
          <div class="table-responsive">
            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper">
              <table class="table table-striped table-bordered border text-inputs-searching text-nowrap dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
                <thead>
                <tr>
                  <th class="sorting" style="width: 20px;">Number</th>
                  <th class="sorting sorting_asc" style="width: 200px;">Name</th>
                  <th class="sorting" style="width: 250px;">Address</th>
                  <th class="sorting" style="width: 130px;">Phone</th>
                  <th class="sorting" style="width: 150px;">Total Transactions</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="customer, index : ${customers}" th:attr="data-customer-id=${customer.getId()}" th:class="${index.index % 2 == 0 ? 'odd customer-item' : 'even customer-item'}" >
                  <td th:text="${index.index + 1}" class="no"></td>
                  <td th:text="${customer.getName()}" class="name"></td>
                  <td th:text="${customer.getAddress()}" class="address"></td>
                  <td th:text="${customer.getPhone()}" class="phone"></td>
                  <td th:text="${customer.getTransactions().size()}" class="bills"></td>
                </tr>
                </tbody>
                <tfoot>
                <!-- start row -->
                <tr>
                  <th>
                  </th>
                  <th>
                    <input type="text" class="search-name form-control" placeholder="Search Name">
                  </th>
                  <th>
                    <input type="text" class="search-address form-control" placeholder="Search Address">
                  </th>
                  <th>
                    <input type="text" class="search-phone form-control" placeholder="Search Phone">
                  </th>
                  <th>
                  </th>
                </tr>
                </tfoot>
              </table>
              <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <form id="customer-modal-form" enctype="multipart/form-data">
                    <div class="modal-header d-flex align-items-center">
                      <h5 class="modal-title">Product</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="add-customer-box">
                        <div class="add-customer-content">
                            <div class="row">
                              <div class="mb-3 customer-id">
                                <input type="text" id="cus-id" class="form-control" placeholder="Customer NO" disabled>
                                <span class="validation-text text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="mb-3 customer-name">
                                <input type="text" id="cus-name" class="form-control" name="customerName" placeholder="Customer name">
                                <span class="validation-text text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="mb-3 customer-address">
                                <input type="text" id="cus-address" class="form-control" name="customerAddress" placeholder="Customer Address">
                                <span class="validation-text text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="mb-3 customer-phone">
                                <input type="text" id="cus-phone" class="form-control" name="customerPhone" placeholder="Customer Phone">
                                <span class="validation-text text-danger"></span>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="modal-btn-add-customer" class="btn btn-success rounded-pill px-4">Add</button>
                      <button type="submit" id="modal-btn-edit-customer" class="btn btn-success rounded-pill px-4">Save</button>
                      <button type="button" class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal"> Discard </button>
                    </div>
                      <input hidden id="salesperson-id-input" name="salespersonId">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/sidebarmenu.js"></script>
<script src="/js/app.min.js"></script>
<script src="/libs/simplebar/dist/simplebar.js"></script>
</body>
<script>
  const currentUser = JSON.parse(localStorage.getItem('userJson'));
  $("#personal-image").attr("src", currentUser['image']);
  $("#hello-user-txt").text("Hi " + currentUser['name']);
  const role = localStorage.getItem('role');

  if(role === 'admin'){
    $("#btn-add-customer").hide();
    $("#btn-edit-customer").hide();
  }
  else{
    $("#btn-add-customer").show();
    $("#salesperson-id-input").val(currentUser['id']);
  }
  function removeToken(){
    localStorage.removeItem('token');
    localStorage.removeItem('userJson');
    localStorage.removeItem('role');
    localStorage.removeItem('cart');
    window.location.href = '/login';
  }
  $(document).ready(function() {
    if(role === 'salesperson'){
      let customerId = 0;

      $(".table .customer-item").on("click", function(){
        $(".table .customer-item").not(this).removeClass("customer-marked");
        $(this).toggleClass("customer-marked");
        customerId = $(this).attr("data-customer-id");
        const hasMarkedRow = $(".table .customer-item.customer-marked").length > 0;
        $("#btn-edit-customer").toggle(hasMarkedRow);
      });


      $("#btn-add-customer").on("click", function() {
        $("#customer-modal-form").attr("action", "/customer/add");
        $("#customer-modal-form").attr("method", "POST");
        $("#customerModal .modal-title").text("Add Customer");

        $("#modal-btn-add-customer").show();
        $("#modal-btn-edit-customer").hide();

        $("#cus-id").val('');
        $("#cus-name").val('');
        $("#cus-address").val('');
        $("#cus-phone").val('');

        $("#customerModal").modal("show");
      });

      $("#btn-edit-customer").on("click", function() {
        $("#customer-modal-form").attr("action", `/customer/edit/${customerId}`);
        $("#customer-modal-form").attr("method", "POST");
        $("#customerModal .modal-title").text("Edit Customer");

        $("#modal-btn-add-customer").hide();
        $("#modal-btn-edit-customer").show();

        const markedRow = $(".table .customer-marked");
        if(markedRow.length > 0){
          const customerId = markedRow.find(".no").text().trim();
          const customerName = markedRow.find(".name").text().trim();
          const customerAddress = markedRow.find(".address").text().trim();
          const customerPhone = markedRow.find(".phone").text().trim();

          $("#cus-id").val(customerId);
          $("#cus-name").val(customerName);
          $("#cus-address").val(customerAddress);
          $("#cus-phone").val(customerPhone);

          $("#customerModal").modal("show");
        }
        else{
          alert("Can not find any customer.")
        }
      });
    }
  });
</script>

</html>